<!DOCTYPE html>
<html>

<title>Divvy</title>

<meta charset="UTF-8" />
<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- link jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- link W3 schools -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<!-- link CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">


<body>
  {{{body}}}

<script src="js/animate.js"></script>
<script src="js/index.js"></script>
</body>

<footer class="page-footer">
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright: Divvy.
  </div>
</footer>

</html>