<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a><b>Divvy</b></a>
    </div>
  </div>

  <!-- Parallax -->
  <div class="parallax"></div>

  <div class="container">

    <!-- Cut-out title -->
    <div class="image-container">
      <div id="myBtn" class="text">Divvy</div>
    </div>

    <!-- Opening modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        {{!-- <span class="close">&times;</span> --}}
        <div class="w3-container w3-padding-32" id="contact">
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="divvyfont">
            Welcome to Divvy
          </h3>
          <center>
            <h4 id="divvyfont2">A household bill tracking app.</h4>
            <div class="signInsignUpBtns">
              <button id="signin" class="btn btn-dark" type="submit">
                <i class="fa fa-paper-plane"></i>Sign in
              </button>
              <button id="signup" class="btn btn-dark" type="submit">
                <i class="fa fa-paper-plane"></i>Sign up
              </button>
            </div>
          </center>

          <!-- Sign up form -->
          <form action="action_page.php" id="signupform">
            <div class="signupform">

              <h1 class="signuptitle">Sign up</h1>

              <label for="name" class="label"><b>Name</b></label>
              <input type="text" placeholder="Jane Doe" name="name" required>

              <label for="email" class="label2"><b>Email</b></label>
              <input type="text" placeholder="name@mail.com" name="email" required>

              <!-- <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label> -->

              <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->

              <div class="clearfix">
                <div id="signupBtns">
                  <button type="submit" class="btn btn-dark">Sign up</button>
                  <button type="submit" class="btn btn-dark">Cancel</button>

                </div>
              </div>

            </div>
          </form>

          <!-- Login form -->
          <form id="signinform">
            <div class="form-group" id="signin">

              <h1 class="signintitle">Sign In</h1>
              <div class="name-text">
                <label for="exampleInputEmail1">Name:</label>
              </div>
              <input type="email" class="form-control" id="inputName" aria-describedby="emailHelp"
                placeholder="Jane Doe">


              <div id="email" class="form-group">
                <div class="email-text">
                  <label for="exampleInputPassword1">Email:</label>
                </div>
                <input type="email" class="form-control" id="inputEmail" placeholder="name@mail.com">
              </div>
              <div class="form-group form-check">
              </div>

              <button type="submit" class="btn btn-dark" id="login">Log in</button>

          </form>

        </div>
      </div>
    </div>

    {{!-- add a bill --}}
    <div class="card">
      <div class="card-body-addbill">
        Add a bill.
      </div>
      <hr>
      <div class="row">
        <div id="addBillForm" class="col-md-3">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput" class="formlabel">Bill</label>
              <input type="text" class="form-control" id="inputbill" placeholder="Enter bill title">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2" class="formlabel">Bill company</label>
              <input type="text" class="form-control" id="inputcompany" placeholder="Enter bill company">
            </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="formGroupExampleInput2" class="formlabel">Price</label>
            <input type="text" class="form-control" id="inputprice" placeholder="Enter bill price">
          </div>
          <form action="/action_page.php">
            Date due:
            <input type="date" name="duedate">
            {{!-- <input type="submit" value="Send"> --}}
          </form>
          <form action="/action_page.php" method="get">
            <input type="checkbox" name="vehicle" value="Bike"> Bill is paid<br>
            <input type="checkbox" name="vehicle" value="Car" checked> Bill is unpad<br>
            {{!-- <input type="submit" value="Submit"> --}}
          </form>
        </div>
        </form>
        <div class="col-md-6">
          <img src="images/bill-image.png" alt="bills" width="300" height="300">
        </div>
      </div>
      <button type="submit" class="btn btn-dark" id="addusers">Submit</button>
    </div>

    {{!-- add users hidden search --}}
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="w3-container w3-padding-32" id="contact">
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="divvyfont">
            Add payers
          </h3>
          <center>
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput" class="formlabel">Enter payer's email</label>
                <input type="text" class="form-control" id="inputemail" placeholder="Enter email">
              </div>
            </form>
            <table id="emails">
              
              <tbody></tbody>
          
            </table>

            <button type="submit" class="btn btn-dark" id="addemails">Submit</button>
          </center>
        </div>
      </div>
    </div>


    <!-- View a bill page -->
    <div class="card" id="viewbills">
      <div class="card-body-addbill">
        View your bills.
      </div>

      <div class="row">
        <div class="col-6">
          <button id="addnewbill" class="btn btn-dark" type="submit">Add a new bill</button>
        </div>
        <div class="col-6">
          <button id="addnewbill" class="btn btn-dark" type="submit">Pay your bills</button>
        </div>
      </div>

      <hr>

      <table class="headertable">
        <h1>Dashboard</h1>
        <thead>
          <tr id="headertable1">
            <th>Total Balance</th>
            <th>Total Owed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$</td>
            <td>$</td>
          </tr>
        </tbody>
      </table>

      <table class="dashboardtable">
        <thead>
          <tr>
            <th>What You Owe</th>
            <th>You Are Owed</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Electric bill $5</td>
            <td>Ramon owes you $4</td>
          </tr>
          <tr>
            <td>Internet bill $80</td>
            <td>Jordynn owes you $3</td>
          </tr>
          <tr>
            <td></td>
            <td>Jon owes you $1</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="text-center">
        <a
          href=""
          class="btn btn-default btn-rounded mb-4"
          data-toggle="modal"
          data-target="#modalLoginForm"
          >Launch Modal Login Form</a
        >
      </div> -->

    <!-- Container div  -->
  </div>
</body>