<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a><b>Divvy</b></a>
    </div>
  </div>

  <!-- Parallax -->
  <div class="parallax"></div>

  <div class="container">

    <!-- Cut-out title -->
    <div class="image-container">
      {{!-- <div class="zoom"> --}}
      <div id="myBtn" class="text">Divvy</div>
      {{!-- </div> --}}
    </div>

    <!-- Opening modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="w3-container w3-padding-32" id="contact">
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="divvyfont">
            Welcome to Divvy
          </h3>
          <center>
            <h4 id="divvyfont2">A household bill tracking app.</h4>
            <div class="signInsignUpBtns">
              <button id="signin" class="btn btn-dark" type="submit">
                <i class="fa fa-paper-plane"></i>Sign in
              </button>
              <button id="signup" class="btn btn-dark" type="submit">
                <i class="fa fa-paper-plane"></i>Sign up
              </button>
            </div>
          </center>

          <!-- Sign up form -->
          <form id="signupform">
            <center>
              <div class="signupform">
                <h1 class="signuptitle">Sign up</h1>
                <label for="name" class="signupname"><b>Name</b></label>
                <input type="text" placeholder="Your name" name="name" required>
                <label for="email" class="signupemail"><b>Email</b></label>
                <input type="text" placeholder="Your email" name="email" required>
                <div class="clearfix">
                  <label for="password" class="signuppassword"><b>Password</b></label>
                  <input type="text" placeholder="Your password" name="password" required>
                  <div>
                    <button type="submit" class="btn btn-dark" id="signupbutton">Sign up</button>
                    <button type="submit" class="btn btn-dark">Cancel</button>
                  </div>
                </div>
              </div>
            </center>
          </form>

          <!-- sign in form -->
          <form id="signinform">
            <center>
              <div class="signin">
                <h1 class="signintitle">Sign in</h1>
                <label for="name" class="signinname"><b>Name</b></label>
                <input type="text" placeholder="Your name" name="name" required>
                <label for="email" class="signinemail"><b>Email</b></label>
                <input type="text" placeholder="Your email" name="email" required>
                <label for="password" class="signuppassword"><b>Password</b></label>
                  <input type="text" placeholder="Your password" name="password" required>
                <div class="clearfix">
                  <div>
                    <button type="submit" class="btn btn-dark" id="signinbutton">Sign in</button>
                    <button type="submit" class="btn btn-dark">Cancel</button>
                  </div>
                </div>
              </div>
            </center>
          </form>
          {{!-- closing opening modal divs --}}
        </div>
      </div>
    </div>

    {{!-- add a bill --}}
    <div class="card" id="addbillcard">
      <div class="card-body-addbill">
        Add a bill.
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          {{!-- <form> --}}
          <div class="form-group">
            <label for="formGroupExampleInput" class="formlabel">Bill</label>
            <input type="text" class="form-control" id="inputbill" placeholder="Enter bill title">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2" class="formlabel">Bill company</label>
            <input type="text" class="form-control" id="inputcompany" placeholder="Enter bill company">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2" class="formlabel">Price</label>
            <input type="text" class="form-control" id="inputprice" placeholder="Enter bill price">
          </div>
          {{!-- </form> --}}
        </div>

        <div class="col-md-6">
          <img src="images/bill-image.png" alt="bills" width="300" height="300">
        </div>

        <div class="col-md-3">
          <form action="/action_page.php" id="duedate">
            <h4 class="paymentdate">Payment date:</h4>
            <input type="date" name="duedate">
            {{!-- <input type="submit" value="Send"> --}}
          </form>
          <form action="/action_page.php" method="get">
            <h5 class="paidyet">Been paid?</h5>
            <input type="checkbox" name="bill" value="paid" class="paid"> Bill is paid<br>
            <input type="checkbox" name="bill" value="unpaid" class="paid" checked> Bill is unpad<br>
            {{!-- <input type="submit" value="Submit"> --}}
          </form>
        </div>
        </form>
        {{!-- end of row --}}
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-dark" id="addbillsubmit">Submit</button>
        </div>
        <div class="col-md-3"></div>
      </div>
      {{!-- end of add bill card --}}
    </div>

    {{!-- add users hidden modal --}}
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="w3-container w3-padding-32" id="contact">
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="divvyfont">
            Add payers
          </h3>
          <center>
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput" class="formlabel">Enter payer's email</label>
                <input type="text" class="form-control" id="inputemail" placeholder="Enter email">
              </div>
            </form>
            <table id="emails">
              <tbody>
                <thead>
                  <tr>
                    <div class="row">
                      <div id="addPayersEmailPercentage">
                      <th>Email:</th>
                      <th>Percentage:</th>

                      </div>
                    

                    </div>
                    <hr>

                  </tr>

                 </thead>
              </tbody>

            </table>

            <button type="submit" class="btn btn-dark" id="addUserEmail">Add user</button>
            <button type="submit" class="btn btn-dark" id="addemails">Submit</button>

            </div>
          </center>
        </div>
      </div>
    </div>


    <!-- View bills page -->
    <div class="card" id="viewbills">
      <div class="card-body-addbill">
        View bills.
      </div>

      {{!-- add/settle buttons --}}
      <div class="row">
        <div class="col-6">
          <button id="addnewbill" class="btn btn-dark" type="submit">Add a new bill</button>
        </div>
        <div class="col-6">
          <a href="https://venmo.com/">
            <button id="settle" class="btn btn-dark" type="submit">Settle up</button>
          </a>
        </div>
      </div>

      <hr>

      {{!-- dashboard --}}
      <div class="row">
        <div class="col-8">
          <table class="table table-hover table-dark">
            <h3 class="dashboard">Household Bills</h3>
            <thead>
              <tr>
                <th scope="col" class="viewtable">ID</th>
                <th scope="col" class="viewtable">Bill</th>
                <th scope="col" class="viewtable">Company</th>
                <th scope="col" class="viewtable">Price in dollars</th>
                <th scope="col" class="viewtable">Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Internet</td>
                <td>Comcast</td>
                <td>100</td>
              </tr>

              <tr>
              </tr>

              <tr>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-1"></div>

        <div class="col-3">
          <h5 class="dashboard">Personal Dashboard</h3>
            <table class="table table-bordered" id="yourmoney">
              <thead>
                <tr>
                  <th scope="col">Money owed</th>
                  <th scope="col">Money due</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3</td>
                  <td>5</td>
                </tr>

              </tbody>
            </table>
        </div>

        {{!-- end of view bills div --}}
      </div>

      {{!-- Chat --}}
      {{!-- <script id="cid0020000221547496565" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js"
        style="width: 200px;height: 300px;">{ "handle": "divvyapp", "arch": "js", "styles": { "a": "000000", "b": 100, "c": "FFFFFF", "d": "FFFFFF", "k": "000000", "l": "000000", "m": "000000", "n": "FFFFFF", "p": "10", "q": "000000", "r": 100, "pos": "br", "cv": 1, "cvfnt": "'Helvetica Neue', Helvetica, Arial, sans-serif, sans-serif", "cvbg": "000000", "cvw": 200, "cvh": 30, "ticker": 1, "fwtickm": 1 } }</script> --}}

      <!-- Container div  -->
    </div>
</body>