<!DOCTYPE html>
<html>
<title>Divvy</title>
<meta charset="UTF-8" />
<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- link W3 schools -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<!-- link CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="style.css">
<!-- link jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">

<body>
  <!-- Navbar (sit on top) -->
  <!-- <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>Divvy</b></a>
    </div>
  </div> -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a><b>Divvy</b></a>
    </div>
  </div>

  <!-- Parallax -->
  <div class="parallax"></div>

  <div class="container">

    <!-- Cut-out title -->
    <div class="image-container">
      <div id="myBtn" class="text">Divvy</div>
    </div>

    <!-- Opening modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="w3-container w3-padding-32" id="contact">
          <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="divvyfont">
            Welcome to Divvy
          </h3>
          <center>
            <h4 id="divvyfont2">A household bill tracking app.</h4>
            <button id="signin" class="btn btn-dark" type="submit">
              <i class="fa fa-paper-plane"></i>Sign in
            </button>
            <button id="signup" class="btn btn-dark" type="submit">
              <i class="fa fa-paper-plane"></i>Sign up
            </button>
          </center>

          <!-- Sign up form -->
          <form action="action_page.php" id="signupform">
            <div class="signupform">
             
              <h1 class="signuptitle">Sign Up</h1>
            
              <label for="name" class="label"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="name" required>

              <label for="email" class="label2"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
         
              <!-- <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label> -->

              <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->

              <div class="clearfix">
                <button type="submit" class="btn btn-dark" id="signupbtn">Sign Up</button>
                <button type="submit" class="btn btn-dark">Cancel</button>
              </div>

            </div>
          </form>

          <!-- Login form -->
          <form id="signinform">
            <div class="form-group" id="signin">

                <h1 class="signintitle">Sign In</h1>

              <label for="exampleInputEmail1">Name:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Email:</label>
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email">
            </div>
            <div class="form-group form-check">
            </div>
            <button type="submit" class="btn btn-dark" id="login">Log in</button>
          </form>

        </div>
      </div>
    </div>





    <!-- <div class="text-center">
      <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Launch
        Modal Register Form</a>
    </div> -->

    <div class="card">
      <div class="card-body-addbill">
        Add a bill.
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput" class="formlabel">Bill</label>
              <input type="text" class="form-control" id="inputbill" placeholder="Enter your bill">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2" class="formlabel">Price</label>
              <input type="text" class="form-control" id="inputprice" placeholder="Enter amount of bill">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2" class="formlabel">Payers</label>
              <input type="text" class="form-control" id="inputpayers" placeholder="Enter who owes this bill">
            </div>
          </form>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5">
          <img src="images/bill-image_160.png" alt="bills" width="300" height="300">
        </div>
      </div>
    </div>


    <!-- View a bill page -->
    <div class="card" id="viewbills">
      <div class="card-body-addbill">
        View your bills.
      </div>

      <div class="row">
        <div class="col-6">
          <button id="addnewbill" class="w3-button w3-black w3-section" type="submit"> Add a new bill</button>
        </div>

        <div class="col-6">
          <a href="https://venmo.com/" class="w3-button w3-black w3-section" button id="paybills" type="submit">Pay your
            bills</a>
        </div>
      </div>

      <hr>

      <table class="headertable">
        <h1>Dashboard</h1>
        <thead>
          <tr id="headertable1">
            <th>Total Balance</th>
            <th>Total Owed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$</td>
            <td>$</td>
          </tr>
        </tbody>
      </table>

      <table class="dashboardtable">
        <thead>
          <tr>
            <th>What You Owe</th>
            <th>You Are Owed</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Electric bill $5</td>
            <td>Ramon owes you $4</td>
          </tr>
          <tr>
            <td>Internet bill $80</td>
            <td>Jordynn owes you $3</td>
          </tr>
          <tr>
            <td></td>
            <td>Jon owes you $1</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="text-center">
        <a
          href=""
          class="btn btn-default btn-rounded mb-4"
          data-toggle="modal"
          data-target="#modalLoginForm"
          >Launch Modal Login Form</a
        >
      </div> -->

    <!-- Container div  -->
  </div>

  <!-- link JS -->
  <script src="test.js"></script>
</body>

</html>