body, html, h1 {
  height: 100%;
  font-family: 'Playfair Display', serif;
} 
.parallax { 
  background-image: url("../images/DJI_0087-2_1024x1024.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
} */
.text {
  background-color: rgba(255, 255, 255, 0.847);
  color: black;
  font-family: 'Archivo Black', sans-serif;
  font-size: 7vw;
  letter-spacing: 5px;
  margin: 0 auto; 
  padding: 30px;
  text-align: center; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  /* transition: .2s; */
}
/* .zoom { */
  /* overflow: hidden; */
  /* padding: 50px; */
  /* transition: transform .2s; */
  /* width: 200px;
  height: 200px; */
  /* margin: 0 auto; */
/* } */
/* .text:hover {
  -ms-transform: scale(1.1);   
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
} */

/* OPENING MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
#myBtn {
  background-color: white;
}
/* modal content/box */
.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
#divvyfont {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 50px;
}
#divvyfont2 {
  text-align: center;
  font-size: 20px;
}
.signInsignUpBtns {
  margin-top: 20px;
}

/* SIGN UP FORM */
#signupform {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 15px;
}
.signuptitle {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}
.signupfirstname {
  font-family: 'Playfair Display', serif;
}
.signuplastname {
  font-family: 'Playfair Display', serif;
}
.signupphone {
  font-family: 'Playfair Display', serif;
}
.signupemail {
  font-family: 'Playfair Display', serif;
  padding-left: 20px;
}

/* SIGN IN FORM */
#signinform {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 15px;
}
.signintitle {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}
.signinemail {
  font-family: 'Playfair Display', serif;
  padding-left: 20px;
}
.signinname {
  font-family: 'Playfair Display', serif;
  padding-left: 20px;
}
.clearfix {
  margin-top: 20px;
}

/* ADD A BILL DIV */
.card {
  padding: 50px;
  text-align: center;
}
.card-body-addbill {
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
  font-size: 40px;
}
.formlabel {
  font-size: 20px;
  margin-bottom: 15px;
}
#price-you-owe {
  margin-bottom: 20px;
}
.paymentdate {
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
  font-weight: bold;
}
#duedate {
  margin-bottom: 40px;
}
.paidyet {
  margin-bottom: 5px;
  font-family: 'Playfair Display', serif;
}
#addbillsubmit {
  margin-top: 30px;
  font-size: 20px;
}
#addPayersEmail {
  margin-bottom: 20px;
  text-align: center;
}
.add-payer-user {
  text-align:center;
  margin-bottom: 15px;
}

/* VIEW BILLS DIV */
#viewBills {
  margin-bottom: 100px;
}
#headertable1 {
  padding-bottom: 20px;
}
#billdetails {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
}
.viewtable {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-transform: uppercase;
}
.username {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-display: UPPERCASE;
 }
 #current-bills {
   margin-bottom: 20px;
 }
 .addPayers {
  margin-left: 10px;
  text-transform: uppercase; 
 }
 #addPayersHeader {
  text-align: center;
  margin: 0px;  
 }
 /* #viewDetailsHeader {

 } */
 .viewBill {
   margin-left: 10px;
   text-transform: uppercase;
 }
 .settle {
  margin-left: 10px;
  text-transform: uppercase;
 }

 /* FOOTER */
 .page-footer {
  background-color: #f5f5f5;
  color: black;
  font-family: 'Archivo Black', sans-serif;
 }

